<!doctype html>
<html lang="en">
   <title>Engage</title>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="static/css/w3.css">
   <link rel="stylesheet" href="static/css/bootstrap.css">
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
   <!-- Custom CSS -->
    <link href="css/stylesheet.css" rel="stylesheet">


   <style>
      html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}

      body{ background-image: url('static/images/Header.jpg'); }
      S
   </style>

</head>


<body background = "Header.jpg"/>
      <!-- Navbar -->
   <div class="w3-top">
      <div class="w3-bar w3-blue w3-left-align w3-large">
      <a class="w3-bar-item w3-padding-large w3-white w3-margin-right">
       <img src = "static/images/icons/ball.gif" class="w3-circle" style="height:40px;width:40px" alt="Avatar"/>
      </a>
        <a class="w3-bar-item w3-padding-large"> ISEER </a>
        <a class="w3-bar-item w3-button w3-round w3-hide-small w3-right w3-padding-large w3-hover-purple button-radius:50%" href="http://localhost:5000/competence"> Competencies
         <img src="static/images/icons/comp.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"/>

        <a class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-purple button-radius:50%" href= "http://localhost:5000/kpi"> KPIs
        <img src="static/images/icons/perf.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"/>
        </a>
     </div>
   </div>
   
                <div>
                <br>
  <!-- The Grid -->
			<div class="w3-row">
    <!-- Left Column -->
				<div class="w3-col m12">
                  <label for="inputAddress">Engagement Survey</label><br>
				  </br>
				  <h3> Engagement Survey </h3>
					<div class="w3-container w3-square w3-center" style="opacity: 0.75">
            <img src="static/images/surv.jpg" class="w3-center" style="height:150px;width:150px" alt="Talk to Us!"/>
				   </div>
           <div "w3-col m7"
					 <p> Hi Employee's Name </p>
					 <p> This is for analysis purposes ONLY! This section is NOT calculated in your overall appraisal score.</p>
					 <p> </p>
					<p> We want to know how you are doing so we can take the necessary steps to improve or continue to serve you</p>
					 <p> It is an opinion survey to let us know where we are and how to do better.</p>

					<p> Please select the option that best suits you. </p>

                      <p><strong> Key: SA – Strongly Agree <strong></p>
                        <p><strong> A – Agree <strong></p>
                          <p><strong>  UN – Undecided <strong></p>
                            <p><strong> DA – Disagree <strong></p>
                              <p><strong>  SD – Strongly Disagree <strong></p>
           </div>
				<br>

					</br>

        <div class="w3-container">
          <p><Strong> Take the Survey! <Strong> </p>

          <a class="w3-button w3-blue w3-padding-large w3-hover-purple button-radius:50%" href ="https://www.surveymonkey.com/r/LKY67TG"> Start Survey
          </a>
        </div>
		<br>
		</br>

    <div class="w3-container w3-card" style="width:45% opacity: 0.75">
      <img src="static/images/serv.jpg" alt="Avatar";>
      </div>

      <br>

      </br>

    <!--Footer Section-->
			
 <footer class="w3-bar w3-purple w3-padding-15">
   <h5> </h5>
 </footer>

 <footer class="w3-bar w3-blue">
   <p> Copyright @ 2018. Powered by ISEER </p>
</footer>

         <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="js/popper.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="js/mdb.min.js"></script>

 </body>

</html>
