<!doctype html>
<html lang="en">

<head>
    <title> Recommendation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/w3.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/mdb.min.css" rel="stylesheet">

    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}

        body {
        	 background-image:url('static/images/Header.jpg');}

    </style>

</head>

<body>
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-blue w3-left-align w3-large">
        <a class="w3-bar-item w3-padding-large w3-white w3-margin-right">
            <img src="static/images/icons/ball.gif" class="w3-circle" style="height:40px;width:40px" alt="Avatar" />
            </a>
        <a class="w3-bar-item w3-padding-large"> ISEER </a>
        <a class="w3-bar-item w3-button w3-round w3-hide-small w3-right w3-padding-large w3-hover-purple button-radius:50%" href="http://localhost:5000/review"> Review
            <img src="static/images/icons/sig.jpg" class="w3-circle" style="height:23px;width:23px" alt="Avatar"/>
            <a class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-purple button-radius:50%" href= "http://localhost:5000/anchors"> Behavioural Anchors
                <img src="static/images/icons/anchor.jpg" class="w3-circle" style="height:23px;width:23px" alt="Avatar"/>
                </a>
            </a>
    </div>
</div>
<br>
</br>
<br>
</div>

    
<form>
    <h2>Recommendations</h2>

    <div class="form-group">
        <div class="container w3-white w3-padding-20" style="opacity:0.75">
                <img src="static/images/icons/key.png" alt="Avatar" style="width:2.5%;">
                    <p> Based on your review, please select the most appropriate option(s).</p>
            </div>
        </div>
    </div>
    <br>
    <br/>


    <div class="w3-container w3-card w3-white" style="opacity:0.75">
        <div class="column">
    <h4><b> KPI Assessments </b> </h4>
    <br>
        <p> Assessment 1 </p><div class="form-group col-md-6">
            <label> <input type="checkbox" value="assess_1">Training</label>
            <label> <input type="checkbox" value="assess_1">Coaching</label>
            <label> <input type="checkbox" value="assess_1">No Change</label>
            </div>

        <p> Assessment 2 </p>
        <div class="form-group col-md-6">
            <label> <input type="checkbox" value="assess_2">Training</label>
            <label> <input type="checkbox" value="assess_2">Coaching</label>
            <label> <input type="checkbox" value="assess_2">No Change</label>
            </div>

        <p> Assessment 3 </p>
        <div class="form-group col-md-6">
            <label> <input type="checkbox" value="assess_3">Training</label>
            <label> <input type="checkbox" value="assess_3">Coaching</label>
            <label> <input type="checkbox" value="assess_3">No Change</label>
            </div>

        <p> Assessment 4 </p>
        <div class="form-group col-md-6">
            <label> <input type="checkbox" value="assess_4">Training</label>
            <label> <input type="checkbox" value="assess_4">Coaching</label>
            <label> <input type="checkbox" value="assess_4">No Change</label>
            </div>

        <p> Assessment 5 </p>
        <div class="form-group col-md-6">
            <label> <input type="checkbox" value="assess_5">Training</label>
            <label> <input type="checkbox" value="assess_5">Coaching</label>
            <label> <input type="checkbox" value="assess_5">No Change</label>
            </div>

        <p> Assessment 6 </p>
        <div class="form-group col-md-6">
            <label> <input type="checkbox" value="assess_6">Training</label>
            <label> <input type="checkbox" value="assess_6">Coaching</label>
            <label> <input type="checkbox" value="assess_6">No Change</label>
            </div>
    </div>

    <h4> Core Competencies </h4>
    <br>

    <div class='column'>
        <div class='form-row'>
            <p>Customer Service and Communication</p>
            <div class="form-group col-md-6">
            <label> <input type="checkbox" value="attitude">Training</label>
            <label> <input type="checkbox" value="attitude">Coaching</label>
            <label> <input type="checkbox" value="attitude">No Change</label>
            </div> 
        </div>   

        <div class='form-row'>
            <p>Problem Solving, Initiative and Leadership </p>
            <div class="form-group col-md-6">
            <label> <input type="checkbox" value="initiative">Training</label>
            <label> <input type="checkbox" value="initiative">Coaching</label>
            <label> <input type="checkbox" value="initiative">No Change</label>
            </div> 
        </div>               
    
    <h4> Behavioural Anchors </h4>
    <br>
    <div class='column'>
        <div class='form-row'>
            <p>Punctuality and Dependability</p>
            <div class="form-group col-md-6">
            <label> <input type="checkbox" value="timely">Training</label>
            <label> <input type="checkbox" value="timely">Coaching</label>
            <label> <input type="checkbox" value="timely">No Change</label>
            </div> 
        </div>   

        <div class='form-row'>
            <p> Personality and Adaptability </p>
            <div class="form-group col-md-6">
            <label> <input type="checkbox" value="personality">Training</label>
            <label> <input type="checkbox" value="personality">Coaching</label>
            <label> <input type="checkbox" value="personality">No Change</label>
            </div> 
        </div>               
    

        <div class='form-row'>
            <p> Teamwork and Cooperativeness </p>
            <div class="form-group col-md-6">
            <label> <input type="checkbox" value="teamwork">Training</label>
            <label> <input type="checkbox" value="teamwork">Coaching</label>
            <label> <input type="checkbox" value="teamwork">No Change</label>
            </div> 
        </div>               
    </div>

        <h4> Overall Recommendations </h4> 
        <br>
           <div class="column">
            <div class="form-row">
                    <p>Promotion </p>
                    <div class="form-group col-md-6">
                        <label> <input type="checkbox" value="promote">Yes</label>
                        <label> <input type="checkbox" value="promote">No</label>
                    </div>
                </div>
            

            <div class="form-row">
                    <p>Training/Work Improvement Plan</p>
                    <div class="form-group col-md-6">
                        <label><input type="checkbox" value="train">Yes</label>
                        <label><input type="checkbox" value="train">No</label>
                    </div>
                </div>

            <div class="form-row">
                    <p> No Change </p>
                <div class="form-group col-md-6">
                    <label><input type="checkbox" value="nochange">Yes</label>
                    <label><input type="checkbox" value="nochange">No</label>
                </div>
            </div>

            <div class="form-row">
                    <p> Demotion </p>
                <div class="form-group col-md-6">
                    <label><input type="checkbox" value="demote">Yes</label>
                    <label><input type="checkbox" value="demote">No</label>
                </div>
            </div>

            <div class="form-row">
                    <p> Dismissal </p>
                <div class="form-group col-md-6">
                    <label><input type="checkbox" value="dismiss">Yes</label>
                    <label><input type="checkbox" value="dismiss">No</label>
                </div>
            </div>
        </div>
  
    <button class=" w3-button w3-hide-small w3-right w3-padding-large w3-hover-purple w3-blue" style="width:100px"> Save
    </button>


    <br>
    <br/>
</div>     
</form>
</div>
    <br>

    <br/>

    <footer class="w3-bar w3-purple w3-padding-15">
        <h5></h5>
    </footer>

    <footer class="w3-bar w3-blue">
        <p>Copyright @ 2018. Powered by ISEER </p>
    </footer>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</body>
</html>